<div>
  <h2>¡Bienvenido <span id="span-email"></span> al chat!</h2>

  <h4>Lista de mensajes</h4>
  <div id="div-msgs">
    Cargando...
  </div>
  <input id="input-msg" type="text" value="" placeholder="Ingrese algo.." />

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chatIndex.js"></script>